<%= form_for(@quiz) do |f| %>
  <% if @quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
      <% @quiz.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
      <%= f.text_field :title_id , :maxlength=>250, :size => 61, :placeholder => 'Title Id', :value=>params[:title_id] %><br/> 
      Cue: <%= f.select( :cue, [['Who is the author','author'],  ['What is the title','title'], ['other question', 'other']]) %><br/>
      <%= f.text_field :question , :maxlength=>250, :size => 61, :placeholder => 'question' %><br/> 
      
      <%= f.text_field :answer , :maxlength=>250, :size => 61, :placeholder => 'answer' %><br/> 
      <%= f.text_field :option_1 , :maxlength=>250, :size => 61, :placeholder => 'option 2' %><br/> 
      <%= f.text_field :option_2 , :maxlength=>250, :size => 61, :placeholder => 'option 3' %><br/> 
      <%= f.text_field :option_3 , :maxlength=>250, :size => 61, :placeholder => 'option 4' %><br/> 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
