
<div class='span-24 prepend-top'>
  
  <div class='span-24 shelf_7_89' id="div_book_shelf" style="background: url(../images/7_89.png) no-repeat;display:none; padding:10px 0px 0px 10px;">
    <div class='span-24'>
      <div class='span-10 shelf-3'">
        
        <div id="title">
          <div class="span-3 title">
              <p><%= link_to "NEW BOOK", show_dashboard_path(:shelf=>"NR",:per_page=>9, :page=>1) %></p>
          </div>
        </div>
        
        <p></p>
        <p><br/></p>
        <p>
          <% @shelf0.each do |shelf| %>
            <div class='span-2 prepend-1'>
              <%= link_to shelf.title do -%> 
                <%= image_tag image_url(shelf.title.id), :id=>"img_#{shelf.id}_#{shelf.title.id}", 
                  :size => "50x70", :alt => "#{shelf.title.title} ", 
                  :title => "#{shelf.title.title}", :onerror => "this.src='#{default_image_url}';"  %>
              <% end -%>
            </div> 
          <% end %>
             
        </p>      
      </div>
      <div class='span-3 shelf-1'>

        <div>
        
          <!--div class='span-1'><br/> </div-->
            <div class='span-6'> <br/></div>
            <div class='span-3 small'  style="margin:0px 0px 0px 20px;"><b> </b></div>
            <div class='span-6'> <br/></div>
            <div class='span-6'> <br/></div>
            <div class='span-6'> </div>
            
        </div>  
          
      </div>
      <div class='span-7 shelf-2'>
        <div id="title">
          <div class="span-3 title">
              <p><%= link_to "MOST READ", show_dashboard_path(:shelf=>"MR",:per_page=>9, :page=>1) %></p>
          </div>
        </div>
        
        <p></p>
        <p><br/></p>
        <p>
          <!--div class='span-1'><br/> </div-->
          <% @shelf1.each do |shelf| %>
            <div class='span-2  prepend-1'>
              <%= link_to shelf do -%> 
                <%= image_tag image_url(shelf.id), :id=>"img_#{shelf.id}_#{shelf.id}", 
                :size => "50x70", :alt => "#{shelf.title} ", 
                :title => "#{shelf.title}", :onerror => "this.src='#{default_image_url}';"  %>
              <%end-%>
            </div> 
          <% end %>
             
        </p>
      </div>

      <div class='span-3 shelf-1'>
        <div id="title">
          <div class="span-3 title">
              <!--p><%= link_to "KIDS SHELF", 'book_lists/index_k' %></p-->
              <p><%= link_to "KIDS SHELF", show_dashboard_path(:shelf=>"K",:per_page=>9, :page=>1) %></p>
          </div>
        </div>
          <p></p>
          <p><br/></p>
          <p>
          <!--div class='span-1'><br/> </div-->
          
          <% @kidshelf.each do |shelf| %>
            <div class='span-2  prepend-1'>
              <%= link_to shelf do -%> 
                <%= image_tag image_url(shelf.id), :id=>"img_#{shelf.id}_#{shelf.id}", 
                :size => "50x70", :alt => "#{shelf.title} ", 
                :title => "#{shelf.title}", :onerror => "this.src='#{default_image_url}';"  %>
              <% end -%>
            </div>
          <% end %>
             
        </p>
      </div>
    </div>
    <div class='span-24'>  
      <div class='span-3 shelf-1'>
        <div id="title">
          <div class="span-3 title">
              <p><%= link_to "MY SHELF", 'book_lists/' %></p>
          </div>
        </div>
          <p></p>
          <p><br/></p>
          <p>
          <!--div class='span-1'><br/> </div-->
          
          <% @myshelf.each do |shelf| %>
            <div class='span-2  prepend-1'>
              <%= link_to shelf.title do -%> 
                <%= image_tag image_url(shelf.title.id), :id=>"img_#{shelf.id}_#{shelf.title.id}", 
                :size => "50x70", :alt => "#{shelf.title.title} ", 
                :title => "#{shelf.title.title}", :onerror => "this.src='#{default_image_url}';"  %>
              <% end -%>
            </div> 
          <% end %>
             
        </p>
      </div>
      <div class='span-7 shelf-2'>
        <div id="title">
          <div class="span-3 title">
              <p><%= link_to "BOOK TALK", reviews_path(:page=>1, :per_page=>9) %></p>
          </div>
        </div>
          <p></p>
          <p><br/></p>
          <p>
          <!--div class='span-1'><br/> </div-->
          
          <% @shelf2.each do |shelf| %>
            <div class='span-2  prepend-1'>
              <%= link_to shelf.title do -%> 
                <%= image_tag image_url(shelf.title.id), :id=>"img_#{shelf.id}_#{shelf.title.id}", 
                :size => "50x70", :alt => "#{shelf.title.title} ", 
                :title => "#{shelf.title.title}", :onerror => "this.src='#{default_image_url}';"  %>
              <% end -%>
            </div> 
          <% end %>
             
        </p>
      </div>
      
      <div class='span-3 shelf-0'>
        <p></p>
        <p><br/></p>
        <p>
          <!--div class='span-1'><br/> </div-->
          
            <div class='span-2  prepend-1' style="height:125">
            <br/>
            </div> 
          
             
        </p>
      </div>
      
      <div class='span-7 shelf-2'>

        <div class='span-7' style="width:255px;background:url(../images/reading-events.png) no-repeat; background-position:right bottom">
        <div id="title">
          <div class="title span-4 ">
              <p><a>READING EVENTS(0)</a></p>
          </div>
        </div>
        
          <!--div class='span-1'><br/> </div-->
            <div class='span-6'> <br/></div>
            <div class='span-3 small'  style="margin:0px 0px 0px 20px;"><b>  </b></div>
            <div class='span-6'> <br/></div>
            <div class='span-6'> <br/></div>
            <div class='span-6'> </div>
            
        </div>  


          
      </div>
    </div>  
    <div class='span-24'>
      <div class='span-10 shelf-3'>
        <div id="title">
          <div class="span-3 title">
              <p><%= link_to "QUIZ", quizzes_path(:page=>1, :per_page=>9) %></p>
          </div>
        </div>
          <p></p>
          <p><br/></p>
          <p>
          <!--div class='span-1'><br/> </div-->
          
          <% @quizzes.each do |shelf| %>
            <div class='span-2  prepend-1'>
              <%= link_to shelf.title do -%> 
                <%= image_tag image_url(shelf.title.id), :id=>"img_#{shelf.id}_#{shelf.title.id}", 
                :size => "50x70", :alt => "#{shelf.title.title} ", 
                :title => "#{shelf.title.title}", :onerror => "this.src='#{default_image_url}';"  %>
              <% end -%>
            </div> 
          <% end %>
             
        </p>
      </div>
      
      <div class='span-10 shelf-3'>
        
        <div id="title">
          <div class="title span-4 ">
              <!--p><%=link_to 'MY SUGGESTIONS', suggestions_path %></p-->
              <p><%= link_to "RECOMMENDED", show_dashboard_path(:shelf=>"CR",:per_page=>9, :page=>1) %></p>
          </div>
        </div>
        
          <p></p>
          <p><br/></p>
          <p>
          <!--div class='span-1'><br/> </div-->
          
          <% @mysugges.each do |shelf| %>
            <div class='span-2  prepend-1'>
              <%= link_to shelf.title do -%> 
                <%= image_tag image_url(shelf.title.id), :id=>"img_#{shelf.id}_#{shelf.title.id}", 
                :size => "50x70", :alt => "#{shelf.title.title} ", 
                :title => "#{shelf.title.title}", :onerror => "this.src='#{default_image_url}';"  %>
              <% end -%>
            </div> 
          <% end %>
             
        </p>
          
      </div>
    </div>
    
  </div>
</div>
