
<%= form_for(@signup) do |f| %>
  <% if @signup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@signup.errors.count, "error") %> prohibited this signup from being saved:</h2>
      <ul>
      <% @signup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
      Signup for Membership: 
      From : <%= Time.now.strftime('%d-%b-%Y') %> Till : <%= (Time.now + @signup.signup_months.months).strftime('%d-%b-%Y') %><br/>
      Branch <%= f.collection_select(:branch_id, Branch.find(:all), :id, :name, {:include_blank => 'Select Branch'} ) %> <br/>
      
      <%= f.hidden_field :signup_months, :value=> @signup.signup_months%>
			<%= f.hidden_field :plan_id, :value=> @signup.plan_id%>
      <%= f.hidden_field :email, :value=> @signup.email%>
      <%= f.hidden_field :security_deposit, :value=> @signup.security_deposit%>
      <%= f.hidden_field :registration_fee, :value=> @signup.registration_fee%>
      <%= f.hidden_field :reading_fee, :value=> @signup.reading_fee%>
      <%= f.hidden_field :discount, :value=> @signup.discount%>
      <%= f.hidden_field :paid_amt, :value=> @signup.paid_amt%>
      <%= f.hidden_field :overdue_amt, :value=> @signup.overdue_amt%>
      <%= f.hidden_field :coupon_id %>
			
      <u>Enter Personal Details</u></br>
			
			
				<%= f.text_field :name, :maxlength => 30, :style => 'width:100px', :placeholder => 'Name' %>
        <%= f.label :email %>
				<%= f.text_field :email, :readonly => true, :maxlength => 100, :style => 'width:280px;' %> <br/>
				<%= f.text_area :address , :maxlength=>1000, :size => "20X5",:placeholder => 'Address' %></br>
			
				<%= f.telephone_field :mphone, :maxlength => 10, :style => 'width:20%', :placeholder => 'Phone(M)'%>
				<%= f.telephone_field :lphone, :maxlength => 10, :style => 'width:20%',:placeholder => 'Phone(L)' %><br/>
				
      <u>Payment Details</u><br/>
      <%= f.label 'Registration charges' %>
      <%= f.text_field :registration_fee, :readonly => true, :maxlength => 100, :style => 'width:70px;' %>
      <%= f.label 'Security Deposit (Refundable)' %>
      <%= f.text_field :security_deposit, :readonly => true, :maxlength => 100, :style => 'width:70px;' %>
      <%= f.label 'Reading Fee' %>
      <%= f.text_field :reading_fee, :readonly => true, :maxlength => 100, :style => 'width:70px;' %> <br/>
      <%= f.label 'Total Amount' %>
      <%= f.text_field :paid_amt, :readonly => true, :maxlength => 100, :style => 'width:100px;' %>
      
      <% if @plan.plan_type == 'C'%>
      <br/>
        <%= f.collection_select(:company_id, Company.find(:all, :conditions => ["expiry_date >= ? and start_date <= ?", Date.current, Date.current]), :id, :name, {:include_blank => 'Select Company'} ) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= f.label 'Employee Number' %>
        <%= f.text_field :employee_no, :maxlength => 10, :style => 'width:48%' %>
      <% end %>
      <br/>
      <%= f.label 'How did you come to know about us?' %>&nbsp;&nbsp;&nbsp;
      <%= f.collection_select(:info_source_id, InformationSource.find(:all), :id, :name, {:include_blank => 'Please select'} )%>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
