<%= javascript_tag :defer => 'defer' do -%>
	$(document).ready(function () {
    div_id = 'div_bs_'+$('#kids').val();
		Collectionapp.initShelf(div_id);
	});
<% end -%>



<div class='span-24 prepend-top'>
  <%= select_tag "kids", options_from_collection_for_select(Branch.all, "id", "username")%>
  <% i = 0 %>
  <% @shelves.each do |shelves| %>
    <div id="<%= "div_bs_#{@kids[i].id}" %>" style="display:none">
      <%= render :partial => "book_list", :locals=> {:shelves => shelves, :shelf0 => @shelf0[i], :shelf1=> @shelf1[i], :shelf2=> @shelf2[i], :shelf3=> @shelf3[i], :shelf4=> @shelf4[i], :shelf5=> @shelf5[i], :shelf6=> @shelf6[i], :shelf7=> @shelf7[i], :shelf8=> @shelf8[i]  } %>
      <% i+= 1 %>
    </div>
  <% end %>
</div>

<%= content_for :javascript do -%>
Collectionapp.kidsData["profile"] = <%= raw @kids.collect{|x| x.id}.to_json %>;
<% end -%>