<%= javascript_tag :defer => 'defer' do -%>
	$(document).ready(function () {
		Collectionapp.initShelf('div_book_shelf');
	});
<% end -%>

<div class='span-24 prepend-top'>
  <div class='span-24 shelf_7_89' id="div_book_shelf" style="background: url(../images/find-a-book-splice_62.png) no-repeat;display:none">
    <div class='span-24'>
      <div class='span-10 shelf-3'">
        <% unless @shelves[0].nil? %>
        <div style="background:url(../images/series.png) no-repeat;background-position:5px 5px;">
          
          <p class="shelfname">
          <%= link_to @shelves[0].category, book_list_path(@shelves[0], :per_page=> 9, :page => 1)  %></p>
          
          <p></p>
          <p><br/></p>
          
          <p>
            <!--div class='span-1'><br/> </div-->
            <% @shelf0.each do |shelf| %>
              <div class='span-2 prepend-1'><%= image_tag image_url(shelf.title.id), :id=>"img_#{shelf.id}_#{shelf.title.id}", 
                  :size => "50x70", :alt => "#{shelf.title.title} ", 
                  :title => "#{shelf.title.title}", :onerror => "this.src='#{default_image_url}';"  %>
              </div> 
            <% end %>
               
          </p>      
        </div>
        <% end %>
      </div>
      <div class='span-7 shelf-2'>
        <% unless @shelves[1].nil? %>
        <div style="background:url(../images/comic.png) no-repeat;background-position:5px 5px;">
          
          <p class="shelfname"><%= link_to @shelves[1].category,  book_list_path(@shelves[1] , :per_page=> 9, :page => 1)  %></p>
          
          <p></p>
          <p><br/></p>
          <p>
            <!--div class='span-1'><br/> </div-->
            <% @shelf1.each do |shelf| %>
              <div class='span-2  prepend-1'><%= image_tag image_url(shelf.title.id), :id=>"img_#{shelf.id}_#{shelf.title.id}", 
                  :size => "50x70", :alt => "#{shelf.title.title} ", 
                  :title => "#{shelf.title.title}", :onerror => "this.src='#{default_image_url}';"  %>
              </div> 
            <% end %>
               
          </p>
        </div>
        <% end %>
      </div>
      <div class='span-7 shelf-2'>
        <% unless @shelves[2].nil? %>
        <div style="background:url(../images/novel.png) no-repeat;background-position:5px 5px;">
          
          <p class="shelfname"><%= link_to @shelves[2].category, book_list_path(@shelves[2], :per_page=> 9, :page => 1)  %></p>
          
          <p></p>
          <p><br/></p>
          <p>
            <!--div class='span-1'><br/> </div-->
            <% @shelf2.each do |shelf| %>
              <div class='span-2  prepend-1'><%= image_tag image_url(shelf.title.id), :id=>"img_#{shelf.id}_#{shelf.title.id}", 
                  :size => "50x70", :alt => "#{shelf.title.title} ", 
                  :title => "#{shelf.title.title}", :onerror => "this.src='#{default_image_url}';"  %>
              </div> 
            <% end %>
               
          </p>
        </div>    
        <% end %>
      </div>
    </div>
    <div class='span-24'>
      <div class='span-7 shelf-2'>
        <% unless @shelves[3].nil? %>
        <div style="background:url(../images/s-stories.png) no-repeat;background-position:5px 5px;">
          
          <p class="shelfname"><%= link_to @shelves[3].category, book_list_path(@shelves[3], :per_page=> 9, :page => 1) %></p>
          
          <p></p>
          <p><br/></p>
          <p>
            <!--div class='span-1'><br/> </div-->
            <% @shelf3.each do |shelf| %>
              <div class='span-2  prepend-1'><%= image_tag image_url(shelf.title.id), :id=>"img_#{shelf.id}_#{shelf.title.id}", 
                  :size => "50x70", :alt => "#{shelf.title.title} ", 
                  :title => "#{shelf.title.title}", :onerror => "this.src='#{default_image_url}';"  %>
              </div> 
            <% end %>
               
          </p>
        </div>  
        <% end %>
      </div>
      <div class='span-7 shelf-2'>
        <% unless @shelves[4].nil? %>
        <div style="background:url(../images/sci-nature.png) no-repeat;background-position:5px 5px;">
          <p class="shelfname"><%= link_to @shelves[4].category, book_list_path(@shelves[4], :per_page=> 9, :page => 1) %> </p>
          <p></p>
          <p><br/></p>
          <p>
            <!-- div class='span-1'><br/> </div-->
            <% @shelf4.each do |shelf| %>
              <div class='span-2  prepend-1'><%= image_tag image_url(shelf.title.id), :id=>"img_#{shelf.id}_#{shelf.title.id}", 
                  :size => "50x70", :alt => "#{shelf.title.title} ", 
                  :title => "#{shelf.title.title}", :onerror => "this.src='#{default_image_url}';"  %>
              </div> 
            <% end %>
               
          </p>
        </div>    
        <% end %>
      </div>
      <div class='span-10 shelf-3'>
        <% unless @shelves[5].nil? %>
        <div style="background:url(../images/school-z.png) no-repeat;background-position:5px 5px;">
          
          <p class="shelfname"><%= link_to @shelves[5].category,  book_list_path(@shelves[5], :per_page=> 9, :page => 1)  %></p>
          
          <p></p>
          <p><br/></p>
          <p>
            <!--div class='span-1'><br/> </div-->
            <% @shelf5.each do |shelf| %>
              <div class='span-2  prepend-1'><%= image_tag image_url(shelf.title.id), :id=>"img_#{shelf.id}_#{shelf.title.id}", 
                  :size => "50x70", :alt => "#{shelf.title.title} ", 
                  :title => "#{shelf.title.title}", :onerror => "this.src='#{default_image_url}';"  %>
              </div> 
            <% end %>
               
          </p>
        </div>
        <% end %>
      </div>
    </div>  
    <div class='span-24'>  
      <div class='span-10 shelf-3'>
        <% unless @shelves[6].nil? %>
        <div style="background:url(../images/act-adventure.png) no-repeat;background-position:5px 5px;">
          
          <p class="shelfname"><%= link_to @shelves[6].category,  book_list_path(@shelves[6] , :per_page=> 9, :page => 1)  %></p>
          
          <p>
            <!--div class='span-1'><br/> </div-->
            <% @shelf6.each do |shelf| %>
              <div class='span-2  prepend-1'><%= image_tag image_url(shelf.title.id), :id=>"img_#{shelf.id}_#{shelf.title.id}", 
                  :size => "50x70", :alt => "#{shelf.title.title} ", 
                  :title => "#{shelf.title.title}", :onerror => "this.src='#{default_image_url}';"  %>
              </div> 
            <% end %>
               
          </p>
        </div>    
        <% end %>
      </div>
      <div class='span-7 shelf-2'>
        <% unless @shelves[7].nil? %>
        <div style="background:url(../images/poetry.png) no-repeat;background-position:5px 5px;">
          
          <p class="shelfname"><%= link_to @shelves[7].category, book_list_path(@shelves[7], :per_page=> 9, :page => 1)  %></p>
          
          <p>
            <!--div class='span-1'><br/> </div-->
            <% @shelf7.each do |shelf| %>
              <div class='span-2  prepend-1'><%= image_tag image_url(shelf.title.id), :id=>"img_#{shelf.id}_#{shelf.title.id}", 
                  :size => "50x70", :alt => "#{shelf.title.title} ", 
                  :title => "#{shelf.title.title}", :onerror => "this.src='#{default_image_url}';"  %>
              </div> 
            <% end %>
               
          </p>
        </div>    
        <% end %>
      </div>
      <div class='span-7 shelf-2'>
        <% unless @shelves[8].nil? %>
        <div style="background:url(../images/activity.png) no-repeat;background-position:5px 5px;">
          
          <p class="shelfname"><%= link_to @shelves[8].category, book_list_path(@shelves[8] , :per_page=> 9, :page => 1)  %></p>
          <p>
            <!--div class='span-1'><br/> </div-->
            <% @shelf8.each do |shelf| %>
              <div class='span-2  prepend-1'><%= image_tag image_url(shelf.title.id), :id=>"img_#{shelf.id}_#{shelf.title.id}", 
                  :size => "50x70", :alt => "#{shelf.title.title} ", 
                  :title => "#{shelf.title.title}", :onerror => "this.src='#{default_image_url}';"  %>
              </div> 
            <% end %>
               
          </p>
        </div>    
      <% end %>
      </div>
    </div>  
  </div>
</div>
