<div class="span-13">
	<table>
	  <tr>
			<th></th>		
	    <th><%= sortable "name" %></th>
	    <th><%= sortable "firstname" %></th>
	    <th><%= sortable "middlename" %></th>
	    <th><%= sortable "lastname" %></th>
			<th></th>
			<th></th>			
	  </tr>

	<% @authors.each do |author| %>
	  <tr>
			<td style="display:none"><%= author.id %></td>
	    <td><%= author.name %></td>
	    <td><%= author.firstname %></td>
	    <td><%= author.middlename %></td>
	    <td><%= author.lastname %></td>
			<td><%= link_to "Edit", {:controller => 'authors', :action=> 'edit', :id => author.id, :sortdir => params[:sortdir], :sort => params[:sort], :page => params[:page] } %></td>
			<td><%= link_to_function "Select", 
			"$('#author_name').val($($(this).closest('tr')[0]).children('td')[1].innerHTML);$('#stockitem_author_id').val($($(this).closest('tr')[0]).children('td')[0].innerHTML);" %></td>
	  </tr>
	<% end %>
	</table>

	<br />
	<%= will_paginate @authors %>
	<%= hidden_field_tag :sortdir, params[:sortdir] %>
	<%= hidden_field_tag :sort, params[:sort] %>
</div>
