<%= form_for(@renewal) do |f| %>
  <% if @renewal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@renewal.errors.count, "error") %> prohibited this renewal from being saved:</h2>

      <ul>
      <% @renewal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
      Renew Membership: <%= @renewal.card_id %><br/>
      Till : <%= @renewal.to_date.strftime('%d-%b-%Y') %><br/>
      Amount : <%= @renewal.amount %><br/>
      <%= f.hidden_field :card_id , :value=> @renewal.card_id %>
      <%= f.hidden_field :member_id , :value=> @renewal.member_id %>
      <%= f.hidden_field :state , :value=> @renewal.state %>
      <%= f.hidden_field :amount , :value=> @renewal.amount %>
      <%= f.hidden_field :months , :value=> @renewal.months %>
      <%= f.hidden_field :from_date , :value=> @renewal.from_date %>
      <%= f.hidden_field :to_date , :value=> @renewal.to_date %>
      <%= f.hidden_field :pay_mode , :value=> @renewal.pay_mode %>
      <br/>
    <%= f.submit  "CONTINUE", :class=>"btn_link" %>
  </div>
<% end %>
