<h2>Add Kids Profile</h2>


<%= form_for @user, :as=>:user, :url => kid_profile_path(@user), :html => { :method => :post, :class => "kid", :id => "kid" } do |f| %>

    <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this kids profile from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <p><%= f.label :email %><br />
  <%= f.text_field :email %></p>

  <p><%= f.label :username %><br />
  <%= f.text_field :username %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>
  <%= f.hidden_field :ksu, :value => :pk %>
  <%= f.hidden_field :parent_id, :value => @parent.id %>
  <p><%= f.submit "Sign up" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
