
<div class='span-24 prepend-top'>
  <div class='span-24 shelf_7_89'>
    
      <div class='span-10 shelf-3'">
        <p class="shelfname"><%= @shelves[0].name %></p>
        <p></p>
        <p><br/></p>
        <p>
          <!--div class='span-1'><br/> </div-->
          <% @shelf0.each do |shelf| %>
            <div class='span-2 prepend-1'><%= image_tag image_url(shelf.title.id), :id=>"img_#{shelf.id}_#{shelf.title.id}", 
                :size => "50x70", :alt => "#{shelf.title.title} ", 
                :title => "#{shelf.title.title}", :onerror => "this.src='#{default_image_url}';"  %>
            </div> 
          <% end %>
             
        </p>      
      </div>
      <div class='span-3 shelf-1'>
        <p class="shelfname"><%= @shelves[1].name %></p>
        <p></p>
        <p><br/></p>
        <p>
          <!--div class='span-1'><br/> </div-->
          <% @shelf1.each do |shelf| %>
            <div class='span-2  prepend-1'><%= image_tag image_url(shelf.title.id), :id=>"img_#{shelf.id}_#{shelf.title.id}", 
                :size => "50x70", :alt => "#{shelf.title.title} ", 
                :title => "#{shelf.title.title}", :onerror => "this.src='#{default_image_url}';"  %>
            </div> 
          <% end %>
             
        </p>
      </div>
      <div class='span-7 shelf-2'>
        <p class="shelfname"><%= @shelves[2].name %></p>
        <p></p>
        <p><br/></p>
        <p>
          <!--div class='span-1'><br/> </div-->
          <% @shelf2.each do |shelf| %>
            <div class='span-2  prepend-1'><%= image_tag image_url(shelf.title.id), :id=>"img_#{shelf.id}_#{shelf.title.id}", 
                :size => "50x70", :alt => "#{shelf.title.title} ", 
                :title => "#{shelf.title.title}", :onerror => "this.src='#{default_image_url}';"  %>
            </div> 
          <% end %>
             
        </p>
          
      </div>
      <div class='span-3 my-shelf'>
          <p class="shelfname">My Shelf</p>
          <p></p>
          <p><br/></p>
          <p>
          <!--div class='span-1'><br/> </div-->
          
            <div class='span-2  prepend-1'><%= image_tag image_url(@shelf0[0].title.id), :id=>"img_#{@shelf0[0].id}_#{@shelf0[0].title.id}", 
                :size => "50x70", :alt => "#{@shelf0[0].title.title} ", 
                :title => "#{@shelf0[0].title.title}", :onerror => "this.src='#{default_image_url}';"  %>
            </div> 
          
             
        </p>
      </div>
      <div class='span-3 shelf-1'>
        <p class="shelfname"><%= @shelves[3].name %></p>
        <p></p>
        <p><br/></p>
        <p>
          <!--div class='span-1'><br/> </div-->
          <% @shelf3.each do |shelf| %>
            <div class='span-2  prepend-1'><%= image_tag image_url(shelf.title.id), :id=>"img_#{shelf.id}_#{shelf.title.id}", 
                :size => "50x70", :alt => "#{shelf.title.title} ", 
                :title => "#{shelf.title.title}", :onerror => "this.src='#{default_image_url}';"  %>
            </div> 
          <% end %>
             
        </p>
      </div>
      <div class='span-7 shelf-2'>
        <p class="shelfname"><%= @shelves[4].name %></p>
        <p></p>
        <p><br/></p>
        <p>
          <!-- div class='span-1'><br/> </div-->
          <% @shelf4.each do |shelf| %>
            <div class='span-2  prepend-1'><%= image_tag image_url(shelf.title.id), :id=>"img_#{shelf.id}_#{shelf.title.id}", 
                :size => "50x70", :alt => "#{shelf.title.title} ", 
                :title => "#{shelf.title.title}", :onerror => "this.src='#{default_image_url}';"  %>
            </div> 
          <% end %>
             
        </p>
          
      </div>
      
      <div class='span-3 shelf-1'>
        <p class="shelfname"><%= @shelves[5].name %></p>
        <p></p>
        <p><br/></p>
        <p>
          <!--div class='span-1'><br/> </div-->
          <% @shelf5.each do |shelf| %>
            <div class='span-2  prepend-1'><%= image_tag image_url(shelf.title.id), :id=>"img_#{shelf.id}_#{shelf.title.id}", 
                :size => "50x70", :alt => "#{shelf.title.title} ", 
                :title => "#{shelf.title.title}", :onerror => "this.src='#{default_image_url}';"  %>
            </div> 
          <% end %>
             
        </p>
      </div>
      
      <div class='span-7 shelf-2'>
        <p class="shelfname"><%= @shelves[6].name %></p>
        <p></p>
        <p><br/></p>
        <p>
          <!--div class='span-1'><br/> </div-->
          <% @shelf6.each do |shelf| %>
            <div class='span-2  prepend-1'><%= image_tag image_url(shelf.title.id), :id=>"img_#{shelf.id}_#{shelf.title.id}", 
                :size => "50x70", :alt => "#{shelf.title.title} ", 
                :title => "#{shelf.title.title}", :onerror => "this.src='#{default_image_url}';"  %>
            </div> 
          <% end %>
             
        </p>
          
      </div>
  </div>
</div>
