<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
      Renew Membership: <%= @order.card_id %><br/>
      Amount : <%= @order.amount %><br/>
      
      <%= f.hidden_field :card_id , :value=> @order.card_id %>
      <%= f.hidden_field :member_id , :value=> @order.member_id %>
      <%= f.hidden_field :channel , :value=> @order.channel %>
      <%= f.hidden_field :user_id , :value=> @order.user_id %>
      <%= f.hidden_field :branch_id , :value=> @order.branch_id %>
      <%= f.hidden_field :state , :value=> @order.state %>
      <%= f.hidden_field :amount , :value=> @order.amount %>
      <%= f.hidden_field :months , :value=> @order.months %>
      <%= f.hidden_field :order_for , :value=> @order.order_for %>
      

    <%= f.submit  "continue"%>
  </div>
<% end %>
