  
        <div class='span-24' style="display:none;" id="<%="div_ttl_pg#{details.id}_#{details.id}" %>" >
          <div class='span-4' style="padding:25px 20px 25px 30px;">
            <%= image_tag image_url(details.id), :id=>"img_#{details.id}_#{details.id}", 
            :size => "145x207", :alt => "#{details.title} ", 
            :title => "#{details.title}", :onerror => "this.src='#{default_image_url}';"  %>
          </div>
          <div class='span-6 prepend-1' style="padding:30px 30px 30px 0px">
            <h3><%= details.title  %></h3>
            <h6><%= details.author.name unless  shelf.title.author.nil?  %></h6>
            <p>
            <br/>
            <% 5.times do |i|%>
              <% if i <  (details.rating.nil? ? 0 : details.rating)   %>
                <%= image_tag "star-select.png" %>
              <% else %>
                <%= image_tag "star-grey.png" %>
              <% end %>
            <% end %>
            <br/>
            </p>
            <div class="btn_link" >
               <%= link_to get_btn_name(caller), get_link(caller, details.id) %>
            </div>
            <div class="span-6" >
               <%= link_to 'Read',  new_list_item_path(:title_id=> details.id, :cat=>BookList::CATEGORY[:READ]) %> | 
               <%= link_to 'Bookmark', new_list_item_path(:title_id => details.id, :cat =>BookList::CATEGORY[:BOOKMARK]) %> <br/>
               <%= link_to 'Req transfer',  new_list_item_path(:title_id=> details.id,:cat=>BookList::CATEGORY[:TRANSFER]) %>
               <!--%= link_to '| suggest', "#", :id=>"#{details.id}" ,:class=>'suggest'%-->
            </div>
            <div class = "dialog" id="<%="dialog_#{details.id}" %>">
              <div id = "<%= "flash_#{details.id}" %>" class="span-6">
              Suggest to:
              </div>
              <br/>
              <% if isParentLogin?() %>
                <% current_user.kids.each do |kid| %>
                  <%= form_for(Suggestion.new, :remote=>:true, :html=>{:id=>"n_s#{details.id}_#{kid.id}"}) do |f| %>
                    <%= f.hidden_field 'by_id' ,:value=>current_user.id %>
                    <%= f.hidden_field 'to_id', :value => kid.id %>
                    <%= f.hidden_field 'title_id', :value => details.id %>
                    <%= f.submit kid.username, :class=>'link' %>
                    <!--%= link_to kid.username, "#", :onclick=>"$('#n_s#{details.id}_#{kid.id}').submit()" ,:remote=>:true %-->
                  <% end %>  
                <% end %>
              <% end %>
              <br/>
              <span class="prepend-1"><%= link_to 'close', '#' , :id=>"can_#{details.id}", :class =>'rcancel' %></span>
            </div>
          </div>
          <div class='span-7' >
            <div class='span-7'  style="margin:10px 5px 0px 0px;padding:0px 0px 20px 40px;background:url(../images/reviews.png) no-repeat;background-position:right bottom; border-bottom: 1px #000000 dotted;border-right: 1px #000000 dotted;">
              <div id="title">
                <div class="title span-3">
                    <p><%= link_to 'REVIEW', search_reviews_path( :title_id=>details.id, :user_id=>0) %></p>
                </div>
              </div>
              <div class='span-7' >
                
                <div class='span-3 small'>  
                  <p><%= link_to 'Checkout', search_reviews_path( :title_id=>details.id, :user_id=>0) %> the reviews on this book,or 
                  <%= link_to 'pen your own',upsert_reviews_path(:title_id=>details.id) %>..</p>
                </div>
              </div>
            </div>
            <div class='span-7' style="margin:0px 5px 0px 0px;padding:10px 0px 0px 40px;background:url(../images/contest.png) no-repeat;background-position:right bottom; border-right: 1px #000000 dotted;">
              <div style="margin:10px 0px 0px 0px;"></div>
              <div id="title">
                <div class="title  span-3">
                    <p><%= link_to 'QUIZ', search_quizzes_path( :title_id=>details.id) %></p>
                </div>
              </div>
              <div class='span-7' >
                
                <div class='span-3 small' >  
                  <p>Take a quiz</p>
                </div>
              </div>
            </div>
          </div>
          <% if user_signed_in? and !current_user.member.empty? %>
          <div class='span-3 prepend-1' >
            <div class='span-3' style="height:225px;margin:10px 0px 0px 0px;padding:0px 0px 0px 0px;background:url(../images/videos.png) no-repeat;background-position:right center;">
              <div id="title">
                <div class="title">
                    <a>AVAILABILITY</a>
                </div>
              </div>
              <div class='span-3' >
                
                <div class='span-3 small' >  
                  <% current_user.member.each do |member| %>
                    <%=member.branch.name.gsub(member.branch.id.to_s+' - ','') %> : <%=get_availability(member.branch.id, details.id) %> 
                    <br/>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div> 
