<div class="facets" style="background-color:lightblue">
  <span style='float:right'>
	  <h3>Browse by Category</h3>
	  <ul class="facet">
	    <% for row in @search.facet(:category_id).rows -%>
	      <li><%= link_to(row.instance.name, url_for(:category_id => row.value)) %> (<%= row.count %>)</li>
	    <% end -%>
	  </ul>
  </span>
  <span >
	  <h3>Browse by Publisher</h3>
	  <ul class="facet">
	    <% for row in @search.facet(:publisher_id).rows -%>
	      <li><%= link_to(row.instance.name, publisher_path(row.value)) %> (<%= row.count %>)</li>
	    <% end -%>
	  </ul>
  </span>
  <span >
	  <h3>Browse by Author</h3>
	  <ul class="facet">
	    <% for row in @search.facet(:author_id).rows -%>
	      <li><%= link_to(row.instance.name, url_for(:author_id => row.value)) %> (<%= row.count %>)</li>
	    <% end -%>
	  </ul>
  </span>
</div>

<%= will_paginate @search.results %>

<div class="results" style="background-color:yellow">
  <% @search.each_hit_with_result do |hit, result| -%>
    <div class="result">
      <h3><%= link_to(hit.stored(:title), title_path(result)) %></h2>
      <div class="score"><%= hit.score %></div>
      <p><%= (hit.stored(:publisher)) %></p>
      <p><%= (hit.stored(:author)) %></p>
      <p><%= (hit.stored(:category)) %></p>
	  <p class="summary"><%= hit.highlights.first.format { |p| "<strong style='color:red'>#{p}</strong>" }.html_safe if hit.highlights.length > 0 %></p>
    </div>
  <% end -%>
</div>
