<tr>
  <td class="title">
    <span class="title"><%= title.title %></span>
  </td>
</tr>
<tr>
  <td class="title">
  	<span class="author"><%= title.author.name %></span>
  </td>  
</tr>
<tr>
  <td class="title">
  	<span class="language"><%= title.language %></span>
  </td>
</tr>
<tr>
  <td class="title">
  	<span class="language"><%= title.category.name %></span>
  </td>
</tr>
<tr>
  <td class="title">
  	<span class="language"><%= title.publisher.name %></span>
  </td>

</tr>