<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="actions">
			
    <%= f.hidden_field :order_id , :value=> @payment.order_id %>
    <%= f.hidden_field :p_mode , :value=> @payment.p_mode %>
    <%= f.hidden_field :state , :value=> @payment.state %>
    <%= f.hidden_field :amount , :value=> @payment.amount %>
    <%= f.hidden_field :fee , :value=> @payment.fee %>
    <%= f.hidden_field :txn_amount , :value=> @payment.txn_amount %>
    <%= f.hidden_field :member_id , :value=> @payment.member_id %>
    <%= f.hidden_field :channel , :value=> @payment.channel %>
    <%= f.hidden_field :user_id , :value=> @payment.user_id %>
    <%= f.hidden_field :branch_id , :value=> @payment.branch_id %>
    <%= f.hidden_field :payment_for , :value=> @payment.payment_for %>
    
    <div class="heading"> Payment Details </div>
      
      Amount         : <%= @payment.txn_amount %><br/>
      Convenience fee: <%= @payment.fee %> <br/>
      <b>Total Amount : <%= @payment.amount %><br/></b>
    <br/>
    <%= f.submit "pay now", :class=>"btn_link" %>
    <br/>
  </div>
<% end %>
