# google analytics tracking code starts
  <%= javascript_tag :defer => 'defer' do -%>
    <script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-24987175-1']);
		  _gaq.push(['_setDomainName', '.justbooksclc.com']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		
		</script>
  <% end %>
# google analytics tracking code ends

<div class="span-25">
<div class="span-14">
<p id="notice"><%= notice %></p>
  <% unless @payment.nil? %>
  <%= field_set_tag 'Payment Details' do %>
      Payment for    :<%= @payment.payment_for %> <br/>  
      Status         :<%= @payment.state %>         <br/>
      Details        :<%=@payment.details %></br>
      Amount         : <%= @payment.txn_amount %><br/>
      Convinience fee:<%= @payment.fee %> <br/>
      <h3>Total Amount :<%= @payment.amount %><br/></h3>
      done at <%=@payment.created_at.strftime('%d-%b-%Y') %></br>
  <% end %>
  <% end %>

<%= link_to 'settings', current_user_path %> |
<%= link_to 'home', root_path %>
</div>
</div>
