<div class="inner_box span-12 border">
<%= form_for(@list_item) do |f| %>
  <% if @list_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list_item.errors.count, "error") %> prohibited this list_item from being saved:</h2>
      
      <ul>
      <% @list_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
      <%= f.hidden_field(:title_id, :value => @list_item.title_id) %>
      <%= f.hidden_field(:d_user_id, :value => @list_item.d_user_id) %>      
      <%= f.hidden_field(:d_category, :value => @list_item.d_category) %>      
      <%= "#{@list_item.d_category}  the book   '#{@list_item.title.title}' ?" %> <br/><br/>
      Membership <%= f.select(:member_id , current_user.member.sort_by!{|x| x.default}.collect{|x| [x.valid_card[0].card_id, x.id]}, {:include_blank=> true}) %>
      <br/>
      <br/>
  </div>
  <div class="actions">
    <%= f.submit  @list_item.d_category, :class=>'btn_link' %>
  </div>
<% end %>
</div>
<div class="inner_box">
  <b>Legends</b><br/>
  READ : Mark a book as already read<br/>
  READING : Books you are currently reading<br/>
  BOOKMARK : Books you would like keep a track of <br/>
  TRANSFER : Request Transfer of a book to your home branch<br/>
  ORDER : Request home delivery of a book <br/>
</div>
