<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="actions">
    <div class="inner_box">  
      <div class="heading"> YOUR BOOK TALK </div>
      <div class="span-4">
        <%= image_tag image_url(@title.id), :id=>"img_#{@title.id}_#{@title.id}", 
            :size => "145x207", :alt => "#{@title.title} ", 
            :title => "#{@title.title}", :onerror => "this.src='#{default_image_url}';"  %>

      </div>
      <div class="span-16">
      <b><%= @title.title %></b>
      By <%= @title.author.name %><br/>
      <%= f.text_field :heading , :maxlength=>250, :size => 61, :placeholder => 'Title' %><br/>
      <%= f.text_area :description , :maxlength=>1000, :size => "20X5",:placeholder => 'Description' %><br/>
        <%= f.hidden_field :d_user_id , :value=>current_user.id %>
        <%= f.hidden_field :d_title_id , :value=>@title.id %>
      
      <%= f.submit "SHARE", :class=>"btn_link"  %>
      </div>
    </div>
  </div>
<% end %>
