<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="actions">
    <div class="inner_box">  
      <div class="heading"> YOUR BOOK TALKS </div>
      <%= f.text_field :heading , :maxlength=>250, :size => 61, :placeholder => 'Title' %></p><td>
      <%= f.text_area :description , :maxlength=>1000, :size => "20X5",:placeholder => 'Description' %></p>
        <%= f.hidden_field :d_user_id , :value=>current_user.id %>
        <%= f.hidden_field :d_title_id , :value=>params[:title_id] %>
      
      <%= f.submit "SHARE", :class=>"btn_link"  %>
    </div>
  </div>
<% end %>
