<div class="span-16">

<p id="notice"><%= notice %></p>
    <h2><%= @review.title.title %> <h2>
    <h4><%= @review.heading %> </h4>
    <h6>By <%= @review.user.username %> on <%= @review.updated_at %> </h6>
    <p><%= @review.description %> </p>
  
<%= link_to 'Edit |', edit_review_path(@review, :title_id=> @review.title_id) if current_user.id == @review.user_id %>
<%= link_to 'Remove |', @review, :confirm => 'Are you sure?', :method => :delete if @review.user_id == current_user.id%>
<%= link_to 'Back', reviews_path %>
</div>