	<div class="span-25">
		<div class="span-14 right">
    <% if user_signed_in? %>
      <div class="toplinkText span-3"> Hi <%= current_user.username %></div>
      <div class="toplink span-3"> <%= link_to "SETTING", current_user_path %></div>
      <div class="toplink span-3"> <%= link_to "LOGOUT", destroy_user_session_path %></div>
    <% else %>
      <div class="toplink span-3">      <%= link_to "SIGN IN", new_user_session_path %></div>
    <% end %>
    </div>
    <p class="masthead"><%= image_tag('JBK.jpg', :id => 'logo')%></p>
    	

  </div>
  <div class="span-24 prepend-2" style="position:absolute; top:58px">
      <div id="mainNav" >
            <ul>
            	<li class="mainNav"><%= link_to "YOUR ACCOUNT", current_user_path %></li>
            	<li class="mainNavSeperator01"><spacer type="block" width="3"></spacer></li>
            </ul>
            <!-- nav ends -->
      	</div>
        <!-- main navigation ends -->
      <div class="right">
        
      </div>
    
	</div>