	<div class="span-25">
		<div class="span-14 right">
    <% if user_signed_in? %>
      <div class="toplinkText span-3"> Hi <%= current_user.username %></div>
      <div class="toplink span-3"> <%= link_to "SETTING", current_user_path %></div>
      <div class="toplink span-3"> <%= link_to "LOGOUT", destroy_user_session_path %></div>
    <% else %>
      <div class="toplink span-3"><%= link_to "Sign up", new_user_registration_path(:pk=>'pkn') %></div> 
      <div class="toplink span-3">      <%= link_to "sign in", new_user_session_path %></div>
    <% end %>
    </div>
    <p class="masthead"><%= image_tag('JBK.jpg', :id => 'logo')%></p>
    	

  </div>
  <div class="span-24 prepend-2" style="position:absolute; top:58px">
      <div id="mainNav" >
            <ul>
            	<li class="mainNav"><%= link_to "HOME", root_path %></li>
            	<li class="mainNavSeperator01"><spacer type="block" width="3"></spacer></li>
            	<li class="mainNav"><%= link_to "FIND A BOOK", catalogue_path %></li>
            	<li class="mainNavSeperator01"><spacer type="block" width="3"></spacer></li>
            	<li class="mainNav"><%= link_to "PLANS", plans_path %></li>
            	<li class="mainNavSeperator01"><spacer type="block" width="3"></spacer></li>
            	<li class="mainNav"><%= link_to "READER'S CLUB", reviews_path %></li>
            	<li class="mainNavSeperator01"><spacer type="block" width="3"></spacer></li>
            </ul>
            <!-- nav ends -->
            <!-- search section -->
            <div class="searchSection">
              <%= form_tag titles_path, :id => 'searchForm', :method => 'get' do -%>
                <%= text_field_tag :query, params[:query], :size => 17, :class=>'searchTextbox' %>
                <%= image_submit_tag("search-normal.png", :id=>'submit_btn', :class=>'search_button', :onmouseout=>"Collectionapp.rollout(this);", :onmouseover=>"Collectionapp.rollin(this);" )%>
                <%= hidden_field_tag :queryTitleId, '' %>

                <%= hidden_field_tag :facetCategory, params[:facetCategory] %>
                <%= hidden_field_tag :facetPublisher, params[:facetPublisher] %>
                <%= hidden_field_tag :facetAuthor, params[:facetAuthor] %>
              <% end -%>
            </div>
            <!-- search section ends -->
      	</div>
        <!-- main navigation ends -->
      <div class="right">
        
      </div>
    
	</div>